.rating {
    width: fit-content;
    border-radius: 5px;

    &.r-0 { background-color: #dd776e; }
    &.r-1 { background-color: #e2886c; }
    &.r-2 { background-color: #e79a69; }
    &.r-3 { background-color: #ecac67; }
    &.r-4 { background-color: #e9b861; }
    &.r-5 { background-color: #f5ce62; }
    &.r-6 { background-color: #d4c86a; }
    &.r-7 { background-color: #b0be6e; }
    &.r-8 { background-color: #94bd77; }
    &.r-9 { background-color: #73b87e; }
    &.r-10 { background-color: #57bb8a; }

    &.percent-0    {background: #57bb8a;}
    &.percent-5    {background: #63b682;}
    &.percent-10   {background: #73b87e;}
    &.percent-15   {background: #84bb7b;}
    &.percent-20   {background: #94bd77;}
    &.percent-25   {background: #a4c073;}
    &.percent-30   {background: #b0be6e;}
    &.percent-35   {background: #c4c56d;}
    &.percent-40   {background: #d4c86a;}
    &.percent-45   {background: #e2c965;}
    &.percent-50   {background: #f5ce62;}
    &.percent-55   {background: #f3c563;}
    &.percent-60   {background: #e9b861;}
    &.percent-65   {background: #e6ad61;}
    &.percent-70   {background: #ecac67;}
    &.percent-75   {background: #e9a268;}
    &.percent-80   {background: #e79a69;}
    &.percent-85   {background: #e5926b;}
    &.percent-90   {background: #e2886c;}
    &.percent-95   {background: #e0816d;}
    &.percent-100  {background: #dd776e;}
}