.card {
    overflow: auto;
    width: 275px;
    height: 405px;
    cursor: pointer;

    &.collapsed { overflow: hidden; }

    .card-title {
        position: sticky;
        top: 0px;
        background-color: white;
        .year {
            font-size: 12px;
        }
    }

    img {
        width: 275px;
        height: 405px;
    }

    .img-caption {
        position: absolute;
        font-size: 12px;
        color: #ddd;
    }

    .description {
        font-size: 11px;
        background-color: #EDEDED;
    }

    .product-data-container{

        .product-data {
            font-size: 12px;
    
            &:not(:first-child) {
                border-top: 1px solid #EDEDED;
            }
            
            .title {
                color: '#888';
                font-weight: 500;
            }
        }
    }

    
}

.favourite-toggle {
    position: relative;
    color: #ededed;
    top: -400px;
    z-index: 1000;
    left: 90%;

    &.active {
        color:gold;
    }
    i {
        cursor: pointer;
    }
}