<div class="card d-flex flex-row" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()" *ngIf="product">
    <img src="{{product.posterUrl}}" onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG27rp6wCKcUSGuXvHpeSiFQNyHVBcak9LT5t57-dwI_KEEEtfRTvI8oBeYhCmrB9jQmw&usqp=CAU'" alt="{{product.title}}" *ngIf="collapsed">
    <div class="img-caption p-3" *ngIf="product.posterUrl==='N/A' && collapsed">{{product.title}}</div>
    <div class="card-body d-flex flex-column p-2 w-100" *ngIf="!collapsed">
      <h3 class="card-title mb-1">{{product.title}} <span class="year">({{product.year}})</span></h3>
      <p class="description mb-1 p-1">{{product.plot}}</p>
      <div class="d-flex w-100 product-data-container pb-2">
        <div class="w-50 d-flex flex-column pe-2">
            <div class="product-data py-1">
                <div class="title">Country</div>
                <div class="value">{{product.countries}}</div>
            </div>
            <div class="product-data py-1">
                <div class="title">Genre/s</div>
                <div class="value">{{product.genre}}</div>
            </div>
            <div class="product-data py-1">
                <div class="title">Type</div>
                <div class="value">{{product.type}}</div>
            </div>
            <div class="product-data py-1" *ngIf="product.totalSeasons">
                <div class="title">Total seasons</div>
                <div class="value">{{product.totalSeasons}}</div>
            </div>
            <div class="product-data py-1" *ngIf="product.runtimeMinutes">
                <div class="title">Minutes</div>
                <div class="value">{{product.runtimeMinutes}} min.</div>
            </div>
            <div class="product-data py-1" *ngIf="product.released">
                <div class="title">Released</div>
                <div class="value">{{product.released | date}}</div>
            </div>
        </div>
        <div class="w-50 d-flex flex-column ps-2">
            <div class="product-data py-1" *ngIf="product.directors">
                <div class="title">Directors</div>
                <div class="value">{{product.directors}}</div>
            </div>
            <div class="product-data py-1" *ngIf="product.writers">
                <div class="title">Writers</div>
                <div class="value">{{product.writers}}</div>
            </div>
            <div class="product-data py-1" *ngIf="product.actors">
                <div class="title">Actors</div>
                <div class="value">{{product.actors}}</div>
            </div>
            <div class="product-data py-1" *ngIf="product.ratings && product.ratings.length>0">
                <div class="title">Ratings ({{product.ratings.length}})</div>
                <div class="value">
                    <ng-container *ngFor="let productRating of product.ratings">
                        <app-product-rating [productRating]="productRating"></app-product-rating>
                    </ng-container>
                </div>
            </div>
        </div>
      </div>
      
    </div>
</div>
<div class="favourite-toggle"><i (click)="toggleFavourite()" class="fa-solid fa-star" [ngClass]="{active: isFavourite()}"></i></div>